chex>=0.0.4
jax>=0.3.14
jaxlib>=0.3.14
numpy>=1.20.0
scipy>=1.6
sympy>=1.6
matplotlib
imageio
click
requests
pillow
pandas
PyWavelets
scikit-image
scikit-learn
sphinx==4.0.0
sphinxcontrib-katex>=0.7.1
sphinxcontrib-bibtex>=1.0.0
sphinx-autodoc-typehints>=1.11.1
IPython>=7.16.1
ipykernel>=5.3.4
nbsphinx>=0.8.0
sphinx-gallery>=0.8.0
sphinx-panels
myst-parser
cr-nimble>=0.3.0
