cr-nimble>=0.4.0
chex>=0.1.7
imageio>=2.31
click>=8.1
pillow
pandas
PyWavelets
scikit-image
scikit-learn
sphinx==4.0.0
sphinxcontrib-katex>=0.7.1
sphinxcontrib-bibtex>=1.0.0
sphinx-autodoc-typehints>=1.11.1
IPython>=7.16.1
ipykernel>=5.3.4
nbsphinx>=0.8.0
sphinx-gallery>=0.8.0
sphinx-panels
myst-parser
